body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.display {
    background: black;
    color: whitesmoke;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    background: #ddd;
}

.btn {
    background: white;
    border: none;
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 1s all ease;
    
}

.btn:hover {
    background: #4c9849;
}

.operator {
    background: #251687;
    color: white;
}

.operator:hover {
    background: rgb(139, 58, 209);
}
